
appdirs
asn1crypto
attrs
CacheControl
certifi
cffi
chardet
colorama
cryptography
distlib
distro
future
html5lib
idna
lockfile
msgpack
packaging
pep517
progress
pycparser
pyparsing
python-telegram-bot
pytoml
PyYAML
requests
retrying
six
urllib3
virtualenv
webencodings
